{% extends 'main.html' %}
{% load static %}
{% block content %}
    <style>
    #btn-danger{
        background: red;
        color: white;
    }
    </style>
    <div class="main p-5">
 <p class="">Are you sure you want to delete {{ file.titile }}</p>
    <form action="{% url 'delete' file.id%}" method="post">
    {% csrf_token %}
        <a class="btn" id="btn-danger" href="{% url 'home'%}">Cancel</a>
        <input type="submit" class="btn" id="btn-danger" value="Confirm">
    </form>
        <img class="" src="{% static 'images/trashcan.png'%}" alt="">
    </div>
    </div>
{% endblock %}