{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="main">
    <div id="auth-page">
        {% for messege in messeges %}
        {{ messege }}
        {% endfor %}
        <div id="login">
            <img src="{% static 'images/logo.png' %}" style="padding: 5px 0; max-width: 250px; max-height: 250px"
                alt="">
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register">
            </form>
            <p>Already Member? <a href="{% url 'login' %}">Sign In Now</a></p>
        </div>
    </div>
</div>
{% endblock %}